:where(.css-dev-only-do-not-override-nnuwmp).ant-menu-horizontal{
  border-bottom: 0;
}
ul.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light.css-dev-only-do-not-override-nnuwmp {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
li.ant-menu-overflow-item.ant-menu-item {
  margin: 0 15px;
  /* display: flex; */
  /* align-items: center; */
}
ul.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light {
  background: transparent;
}
